.basket-empty {
  @apply flex justify-center;
}
.basket-underheader {
  @apply h-8 bg-gradient-to-b from-yellow-600 to-yellow-300 opacity-75;
}
.basket-table {
  @apply table-fixed text-gray-700 sm:font-bold w-full text-center align-middle;
  thead {
    @apply text-sm sm:text-lg;
    tr {
      th {
        @apply w-1/6;
      }
      th:first-child {
        @apply opacity-0;
      }
      th:nth-child(2) {
        @apply w-2/6;
      }
    }
  }
  tfoot {
    @apply font-bold text-sm sm:text-lg bg-yellow-400;
      td {
        @apply w-1/6;
      }
      td:nth-child(2) {
        @apply w-2/6;
      }
  }
  tbody {
    @apply text-xs sm:text-lg sm:font-semibold;
      tr {
        @apply border-b-4 border-yellow-300 rounded-3xl bg-yellow-200;
        td {
          @apply w-1/6;
        }
        td:first-child {
          @apply rounded-l-3xl;
          a {
            @apply inline;
            img {
              @apply inline object-contain rounded-full w-10 sm:w-20 my-1;
            }
          }
        }
        td:last-child {
          @apply rounded-r-3xl;
        }
        td:nth-child(2) {
          @apply w-2/6;
        }
      }
  }
}

.buy-btn {
  @apply object-right text-3xl font-bold w-40 h-20 bg-indigo-700 rounded-xl m-6;
}