.header-panel {
  @apply grid grid-cols-4 max-w-full text-gray-500 dark:text-gray-200 bg-gradient-to-b from-lime-300 to-lime-200 dark:from-slate-900 dark:to-slate-700 px-2 sm:px-4 items-center;
}

.logo-SVG {
  @apply h-10 sm:h-16 md:h-20 col-span-3 lg:col-span-2 lg:row-span-2;
  &>a>g {
    .letter {
      @apply transition-colors duration-300 fill-black [fill-rule:evenodd] stroke-gray-400 opacity-70 stroke-[3];
    }
    .letter-neon {
      @apply transition-colors duration-300 stroke-pink-900 dark:stroke-pink-300 fill-[none] stroke-2;
    }
    &:hover {
      .letter-neon {
        @apply stroke-pink-300 dark:stroke-blue-300;
      }
      .letter {
        @apply stroke-pink-200 dark:stroke-blue-400;
      }
    }
  }
  .lamp-wire {
    @apply stroke-black fill-[none] stroke-2;
  }
  .lamp {
    @apply cursor-pointer;
    &:hover {
      .lamp-bulb {
        @apply [fill-opacity:0.8] dark:[fill-opacity:1];
      }
    }
    .lamp-socket {
      @apply stroke-black stroke-2;
    }
    .lamp-bulb {
      @apply fill-yellow-300 stroke-gray-400 [fill-opacity:0.4] dark:[fill-opacity:1];
    }
    .lamp-glower {
      @apply stroke-gray-500 fill-[none];
    }
  }
}

.login {
  @apply ml-2 lg:justify-self-end;
  .login-btn {
    @apply text-sm lg:text-base font-bold;
    &:hover {
      @apply text-gray-400 dark:text-gray-100;
    }
  }
}

.currency-panel {
  @apply flex lg:justify-self-end flex-nowrap;
  .currency-panel-p {
    @apply text-sm lg:text-base font-bold mr-2;
  }
  .currency-panel-select {
    @apply bg-lime-100 dark:bg-lime-200 text-gray-600 dark:text-gray-700 rounded-sm font-semibold scale-75 lg:scale-100;
      &:focus {
        @apply outline-none;
    }
  }
}

.basket-plate {
  @apply flex flex-col items-center row-span-2 justify-self-end;
  .basket-plate-button {
    &:focus {
      @apply outline-none;
    }
    .basket-plate-amount {
      @apply absolute -ml-4 mt-2 font-extrabold text-xs text-fuchsia-500 dark:text-fuchsia-300 h-5 w-5 z-10 bg-gray-300 rounded-full bg-opacity-30;
    }
    .basket-SVG {
      @apply opacity-50 dark:opacity-80 h-10 sm:h-12 dark:invert;
      .basket-empty {
        @apply stroke-black stroke-[8] fill-[none] [stroke-linejoin:bevel] [stroke-linecap:round];
      }
      .basket-prod {
        @apply stroke-black [fill-rule:evenodd];
      }
      &:hover {
        @apply opacity-70 dark:opacity-90;
      }
    }
  }
  .basket-plate-info {
    @apply text-sm lg:text-base font-bold;
  }
}

.underheader {
  @apply inline-flex justify-between items-center h-8 bg-gradient-to-b from-lime-200 to-lime-100 dark:from-slate-700 dark:to-slate-600 opacity-75 px-2 sm:px-4;

  .underheader-sort {
    @apply inline-flex space-x-4;
    .underheader-sort-btn {
      @apply transition-opacity duration-300 opacity-50 dark:opacity-80;
      &:hover {
        @apply opacity-70 dark:opacity-100;
      }
      &:focus {
        @apply outline-none opacity-70 dark:opacity-100;
      }
      .sorting-SVG {
        @apply h-6 dark:invert;
        .sort-letter {
          @apply text-5xl font-black fill-black;
        }
        .sort-price {
          @apply text-7xl font-bold fill-black;
        }
        .sort-path {
          @apply fill-[none] stroke-black [stroke-width:10];
        }
        .sort-stair {
          @apply stroke-black [stroke-width:15] [stroke-linecap:round];
        }
      }
    }
  }
  .search-field {
    .search-field-input {
      @apply h-6 w-28 sm:w-48 text-gray-600 opacity-80 bg-lime-50 dark:bg-lime-200 rounded-md pl-2;
      &:focus {
        @apply outline-none opacity-100;
      }
    }
    .search-field-button {
      @apply ml-1 opacity-80 dark:text-gray-200;
    }
  }
}

.not-found-msg {
  @apply fixed h-16 w-32 right-2 top-40 p-2 text-gray-600 dark:text-gray-300 font-semibold bg-lime-300 dark:bg-lime-700 rounded-md border border-orange-200 dark:border-orange-500;
  animation: animate_msg 4s ease-in-out;
}
@keyframes animate_msg {
  0% { transform: scale(0, 0); }
  15% { transform: scale(1, 1) rotate(2turn); }
  80% { transform: translateX(0px); }
  90% { transform: translateX(-20px); }
  100% { transform: translateX(150px); }
}
