.header-panel {
  @apply grid grid-cols-4 max-w-full bg-gradient-to-b from-yellow-900 to-yellow-600 p-2 sm:px-4 gap-2 items-center;
}

.logo-link {
  @apply inline-flex items-center flex-nowrap space-x-2 col-span-3 sm:col-span-2 sm:row-span-2 w-min;

  .logo {
    @apply transition ease-in duration-500 transform md:opacity-70 lg:opacity-50 h-8 w-8 sm:h-14 sm:w-16;
    &:hover {
      @apply opacity-100 -translate-y-1 scale-110;
    }
  }

  .logo-text {
    @apply inline-flex flex-nowrap;

    .logo-letter {
      @apply transition ease-out duration-300 text-2xl sm:text-4xl lg:text-6xl font-extrabold text-yellow-400;
    }
    .logo-letter_red:hover {
      @apply text-red-500;
    }
    .logo-letter_indigo:hover {
      @apply text-indigo-600;
    }
    .logo-letter_purple:hover {
      @apply text-purple-500;
    }
    .logo-letter_green:hover {
      @apply text-green-500;
    }
    .logo-letter_blue:hover {
      @apply text-blue-500;
    }
    .logo-letter_pink:hover {
      @apply text-pink-600;
    }
  }
}

.login {
  @apply font-bold text-white opacity-50 justify-self-end sm:order-3;
  &:hover {
    @apply opacity-80;
  }
}

.currency-panel {
  @apply inline-flex flex-nowrap col-span-2 sm:col-span-1 sm:row-span-2 sm:justify-self-center;
  p {
    @apply text-base font-bold text-white opacity-75;
  }
  select {
    @apply bg-yellow-200 rounded-sm mx-2 font-semibold text-gray-700;
  }
}

.basket-plate {
  @apply inline-flex items-center space-x-2 col-span-2 sm:col-span-1 sm:order-4 justify-self-end;
  p {
    @apply text-sm font-bold text-white opacity-75;
  }
  button {
    &:focus {
      @apply outline-none;
    }
    .basket-amount {
      @apply absolute font-bold text-xs text-white bg-blue-500 rounded-full w-5 h-4;
    }
    .basket-amount_invisible {
      @apply absolute invisible;
    }
    img {
      @apply h-8 w-8;
    }
  }
}

.under-header {
  @apply inline-flex justify-between items-center h-8 bg-gradient-to-b from-yellow-600 to-yellow-300 opacity-75 px-2 sm:px-4;

  .sort-menu {
    @apply inline-flex space-x-4;
    button {
      @apply transition-opacity duration-300 opacity-50;
      &:hover {
        @apply opacity-100;
      }
      &:focus {
        @apply outline-none opacity-100;
      }
      img {
        @apply h-4 w-6;
      }
    }
  }
  #search_field {
    input {
      @apply h-6 w-28 sm:w-48 opacity-50 bg-yellow-100 rounded-md pl-2;
      &:focus {
        @apply outline-none opacity-100;
      }
    }
    button {
      @apply ml-1
    }
  }
}

.not-found-msg {
  @apply fixed h-16 w-32 right-2 top-40 p-2 text-slate-800 font-semibold bg-orange-100 rounded-md border border-orange-400;
  animation: animate_msg 4s ease-in-out;
}

@keyframes animate_msg {
  0% { transform: scale(0, 0); }
  15% { transform: scale(1, 1) rotate(2turn); }
  80% { transform: translateX(0px); }
  90% { transform: translateX(-20px); }
  100% { transform: translateX(150px); }
}
